/* setting */
body, html {
 padding: 0;
 margin: 0;
 height: 100%;
 box-sizing: border-box;
 background-color: #FEFBE9;
 color: #797A7E;
 font-family: 'Caveat', cursive;
}

/* header, footer */
footer, header {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #E0ECE4;
 box-shadow: 0 0.1px 10px 1px #D8D3CD;
}

header ul, footer ul {
 margin: auto;
 text-align: center;
}

header li, footer li {
 display: inline;
 padding: 0 50px;
}

/* header */
header {
 height: 150px;
 width: 100%;
 position: fixed;
 top: 0;
}

/* title */
#title h1 {
 font-size: 3.5rem;
 margin: 20px auto 0 auto;
}

/* footer */
footer {
 margin-top: 200px;
 height: 120px;
}

footer h2 {
 margin: 10px auto 0 auto;
}

i {
 padding: 10px;
}

/* tutorial section */
.tutorial {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.explanation {
 width: 500px;
 background-color: white;
 display: flex;
 flex-direction: 
 justify-content: space-around;
}

.explanation p {
 padding: 20px;
 text-align: left;
}

span {
 background-color: #AAE3E2;
}

/* font */
h1 {
 text-align: center;
 font-size: 3rem;
 font-weight: 100;
}

h2 {
 text-align: center;
 margin-top: 30px;
 font-weight: 100;
}

p {
 text-align: center;
}

li {
 list-style: none;
}

a {
 text-decoration: none;
 color: grey;
}

hr {
 width: 40%;
 margin: 150px auto;
 border: dotted grey;
 border-width: 5px 0 0 0;
}

/* menu */
.submenu {
 display: none;
 background-color: white;
 z-index: 1;
}

.dropmenu {
 color: black;
 cursor: pointer;
 position: relative;
 display: inline-block;
}


.submenu a {
 display: block;
 padding: 10px;
 position: relative;
}

.submenu a:hover {
 background-color: #f1f1f1;
}

.dropmenu:hover  .submenu {
 display: block;
 position: absolute;
}



/* aboutme */
.aboutme {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 line-height: 3;
}

#aboutme {
 padding-top: 0;
}

#aboutme h1 {
 margin-top: 200px;
}

#aboutme h2 {
 font-size: 3rem;
 margin: 0 auto;
}

#aboutme img {
 padding: 30px;
}

/* sample */
.sample {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.cp_embed_wrapper {
 width: 500px;
}





